//Colors
$black: rgb(0, 0, 0);
$gray: rgb(60, 60, 60);
$lightGray: rgb(120, 120, 120);
$veryLightGray: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$blue: rgb(0, 122, 165);
$lightBlue: rgb(0, 194, 234);
$green: rgb(125, 212, 48);
$limeGreen: rgb(193, 235, 23);
$magenta: rgb(195, 15, 122);
$purple: rgb(125, 15, 118);
$grayishRed: rgb(171, 27, 35);
$darkOrange: rgb(250, 84, 0);
$lightOrange: rgb(248, 113, 0);
$yellow: rgb(252, 187, 0);
$brightYellow: rgb(254, 228, 40);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px