{% extends "base.html" %}

{% block header %}
<title>Adeel Academy | Home</title>
{% endblock %}

{% block body %}
    
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ab1b23;">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Inbox</a>
            </li>
            </ul>
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color: white;">Search</button>
            </form>
        </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 1rem; margin-left: 5%; margin-right: 5%; height: 100%;">
        <div class="row">
            <!-- Chat Selection -->
            <div class="col-4" style="height: 100%;">
                <div class="card" style="color: black;">
                    <ul class="list-group list-group-flush">
                        {% for chat in chats %}
                            <li class="list-group-item">{{chat}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Chat Window -->
            <div class="col-8" style="height: 20rem; background-color: cadetblue;">
                <!-- Get chat contents -->
                <!-- Display chat messages as cards -->
                <!-- See _chat.scss for formatting -->
            </div>
        </div>
    </div>


{% endblock %}