{% extends "base.html" %}

{% block header %}
<title>Adeel Academy | Sign Up</title>
{% endblock %}

{% block body %}

  <!-- Header -->
  <header class="header">
      <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="{{url_for('static', filename='images/logo.webp')}}"alt="Logo">
        </a>
      </nav>
  </header>
  
  <!-- User Input -->
  <form onsubmit="logIn()" method="POST" style="padding: 40px;">
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br>
      <button type="submit" style="margin-top: 20px;">Log In</button>
  </form>

  <p style="text-align: center;">Don't have an account?</p>
  <div style="text-align: center;">
      <a href="{{ url_for('sign_up') }}" style="color: blue;">Sign Up</a>
  </div>

{% endblock %}  
